@use '@/style' as alias;

.headerContainer {
  background-color: alias.$tableBg;
  position: sticky;
  top: 0px;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 48px;
}

.currentDate {
  color: alias.$primary;
  font-weight: bold;
  font-size: 21px;
}
.icon {
  cursor: pointer;
}

//
.dayNameContainer {
  display: flex;
  height: 21px;
}

.dayItem {
  flex: 1;
  text-align: center;
  background-color: alias.$dayBg;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: alias.$day;
}
