$borderColor: #d8d8d8;

$tableBg: #fafafa;
$day: #555555;
$dayBg: #eeeeee;
$primary: #ff6813;
$primary-disabled: #fda676;
$tableBorder: #f0f0f0;

$black: #3f4b5e;

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 100;
  src: local(※), url('../assets/font/Pretendard-Thin.woff2') format('woff');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 200;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-ExtraLight.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 300;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-Light.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-Regular.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 500;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-Medium.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-SemiBold.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 700;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-Bold.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 800;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-ExtraBold.woff2') format('woff');
}
@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 900;
  /* font-display: swap; */
  src: local(※), url('../assets/font/Pretendard-Black.woff2') format('woff');
}
